.body-1{
    background-image: url('../../assets/showcase3-bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed;
}
.body-2{
    background-image: url('../../assets/showcase4-bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed;
}
.add-book-page {
    position: relative;
    height: 100vh; 
  }
  
  .center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .add-container{
    max-width: 2000px;
    padding: 300px;
    margin: 20px 350px;
    box-shadow: 0 15px 20px #080808;   
  }

  .add-input-box{
    flex-wrap:wrap;
    width: 100%;
    padding-top: 15px;
    padding: 8px;
    
}

.add-input-file{
    padding-top: 15px;
    padding: 8px;
}

.add-input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.add-input-box input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0,2);
}

.add-button-container{
    margin: 15px 0;
}

.add-button-container button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--primary-color-bright),#efc7c7);
}

.add-button-container button:hover{
    background-image: linear-gradient(to right, #efc7c7,var(--primary-color-bright));
}

input#book_id {
    padding: 10px;
}