.product-listning-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.listning-container{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
    display: flex ;
    flex-wrap: wrap;
    justify-content:space-between; 
    gap: 3rem;
}

.product-container{
    text-align: center;
    padding: 30px;
}